<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="2">
<listeners>
	<listener class-name="Test.Listeners"/>
</listeners>

<parameter name="URL" value = "qaclickacademy.com"/>
  
  <test name="Personal Loan">
  <parameter name="URL" value = "personalLoan.com"/>
  <parameter name="APIKey/username" value = "12345"/>
    <classes>
      <class name="Test.day1">
      	<methods>
      		<include name= "Demo"/>
      	</methods>
      	</class>
      	
      <class name ="Test.day2"/>
      <class name ="Test.day4"/>
      
    </classes>
  </test> <!-- Test -->
  
  <test name = "Car Loan">
  	<classes>
  		<class name = "Test.day3">
  		
  			<methods>
  				<exclude name = "MobileLoginCar"/>  
  			</methods>
  			</class>
  	</classes>
  	</test>
  </suite> <!-- Suite -->
